NODE_ENV=development
PORT=5000

MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@CLUSTER.mongodb.net/cinetix?retryWrites=true&w=majority

JWT_SECRET=replace_with_a_long_random_secret
JWT_EXPIRES_IN=7d

FRONTEND_URLS=http://localhost:3000

COOKIE_NAME=cinetix_token
COOKIE_MAX_AGE_DAYS=7

KHALTI_SECRET_KEY=
KHALTI_BASE_URL=https://dev.khalti.com/api/v2

UPLOAD_DIRECTORY=uploads